language: python
python:
  - "3.5"

services:
  - postgresql

before_script:
  - psql -c "create database rationalwhimsy;" -U postgres

install:
  - pip install -r requirements.pip

script:
  - python rational_whimsy/manage.py migrate
  - python rational_whimsy/manage.py test rational_whimsy
