{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="img/png" href="{% static "base/imgs/rw_favicon.png" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <title>Rational Whimsy | {% block title %}{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static "base/css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base/css/tablet.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base/css/mobile.css" %}">
    <script src="https://use.fontawesome.com/4d0cb8d848.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <main>
    <header id="mobile-header">
        <section id="top-logo">
            <section id="top-logo-horizontal">
                <section id="menu-btn">
                    <img src="{% static 'base/imgs/hamburger_img.svg' %}" />
                </section>
                <section id="logo-container">
                    <img src="{% static "base/imgs/logoblack_transparent.png" %}"/>
                </section>
            </section>
            <div class="clearfix"></div>
            <nav id="mobile-menu">
                <ul>
                    <a href="{% url 'home_page' %}">
                    <li {% if page == "home" %}class="active"{% endif %}>
                        Home
                    </li>
                    </a>
                    <a href="{% url 'profile' %}">
                    <li {% if page == "about" %}class="active"{% endif %}>
                        About Me
                    </li>
                    </a>
                    <a href="{% url 'list_posts' %}">
                    <li {% if page == "blog" %}class="active"{% endif %}>
                        Blog
                    </li>
                    </a>
                    <!--<a href="#">
                    <li {% if page == "projects" %}class="active"{% endif %}>
                        Projects
                    </li>
                    </a>-->
                </ul>
            </nav>
        </section>
    </header>
    <div id="header-container">
        <header id="full-header">
            <section id="desktop-logo">
                <img src="{% static "base/imgs/logoblack_transparent.png" %}"/>
            </section>
            <nav id="full-menu">
                <ul>
                    <a href="{% url 'home_page' %}">
                    <li {% if page == "home" %}class="active"{% endif %}>
                        Home
                    </li>
                    </a>
                    <a href="{% url 'profile' %}">
                    <li {% if page == "about" %}class="active"{% endif %}>
                        About Me
                    </li>
                    </a>
                    <a href="{% url 'list_posts' %}">
                    <li {% if page == "blog" %}class="active"{% endif %}>
                        Blog
                    </li>
                    </a>
                    <!--<a href="#">
                    <li {% if page == "projects" %}class="active"{% endif %}>
                        Projects
                    </li>
                    </a>-->
                </ul>
            </nav>
        </header>
    </div>
    <section id="content">
    {% block content %}{% endblock %}
    </section>
    <footer>
        <nav id="footer-nav" class="desktop-only">
            <ul>
                <a href="{% url 'home_page' %}">
                    <li>Home</li>
                </a>
                <a href="{% url 'list_posts' %}">
                    <li>Blog</li>
                </a>
                <a href="{% url 'profile' %}">
                    <li>About Me</li>
                </a>
                <!-- <a href="#">
                    <li>Projects</li>
                </a> -->
            </ul>
        </nav>
        <section id="copybox">
            <article id="copyline">
                Copyright &copy; 2014-2017 Nicholas Hunt-Walker, Rational Whimsy
            </article>
            <nav id="footer-social">
                <ul>
                    <a href="http://www.twitter.com/nhuntwalker" target="_blank">
                        <li>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                    </a>
                    <a href="http://www.linkedin.com/in/nhuntwalker" target="_blank">
                        <li>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </li>
                    </a>
                    <a href="http://www.instagram.com/nhuntwalker" target="_blank">
                        <li>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </li>
                    </a>
                    <a href="http://www.github.com/nhuntwalker" target="_blank">
                        <li>
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </li>
                    </a>
                    <a href="mailto:nhuntwalker@gmail.com" target="_blank">
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </li>
                    </a>
                </ul>
            </nav>
        </section>
    </footer>
    </main>
    <script type="text/javascript" src="{% static 'base/js/drop_menu.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>