* {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}
.mobile-only {
    display: none;
}
.desktop-only {
    display: block;
}

#mobile-menu a,
#main-menu a {
    text-decoration: none;
}

#mobile-menu a li,
#main-menu a li {
    color: #02bde5;
    text-transform: uppercase;
}

#featured {
    position: relative;
    overflow: hidden;
}
#featured a {
    text-decoration: none;
}

#featured-background {
    /*background-image: url("../imgs/zen_garden.jpg");*/
    /*background-position: center top;
    background-size: 150% auto;
    background-repeat: no-repeat;*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#featured-background img {
    width: 180%;
    margin-left: -45%;
}
#featured-post {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
#featured-post p {
    font-size: 1.3em;
    margin: 0 3%;
    line-height: 1.2em;
}

.more-btn {
    cursor: pointer;
    text-align: center;
    border-width: 1px;
    font-size: 1em;
    padding: 3% 6%;
    border-style: solid;
    font-family: helvetica;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.more-btn.green-btn {
    background-color: #02bde5;
    color: white;
    border-color: white;
}
.more-btn.orange-btn {
    background-color: #F0563D;
    color: white;
    border-color: white;
}
.more-btn.white-btn {
    background-color: white;
    color: #02bde5;
    border-color: #02bde5;
    font-weight: 100;
}
.feature-btn {
    margin: 8% auto;
    text-transform: uppercase;
}
.list-btn {
    margin: 8% auto;
}

#copybox {
    color: white;
    background-color: #2e313d;
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
}
#copyline {
    margin-bottom: 20px;
    line-height: 1.5em;
}
#footer-social li {
    display: inline-block;
    background-color: #F0563D;
    border-radius: 100%;
    padding: 10px 12px;
    border: 1px solid white;
}
#footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

#content {
    margin-bottom: 10px;
}
.form-table th {
    text-align: left;
    font-weight: 600;
}
.form-table input[type="text"] {
    padding: 5% 10%;
    font-size: 1.2em;
    margin: 2% 0;
}
.form-table textarea {
    font-size: 1.2em;
    width: 93%;
    padding: 5%;
}
.horizontal-gray {
    width: 85%;
    height: 2px;
    margin: 0 auto 10px;
    background-color: #CCC;
}