* {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}
.mobile-only {
    display: none;
}
.tablet-only {
    display: none;
}
.desktop-only {
    display: block;
}
#mobile-header {
    display: none;
}
#full-header {
    display: block;
}

#mobile-menu a,
#main-menu a {
    text-decoration: none;
}

#mobile-menu a li,
#main-menu a li {
    color: #02bde5;
    text-transform: uppercase;
}

#featured {
    position: relative;
    overflow: hidden;
}
#featured a {
    text-decoration: none;
}

#featured-background {
    /*background-image: url("../imgs/zen_garden.jpg");*/
    /*background-position: center top;
    background-size: 150% auto;
    background-repeat: no-repeat;*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#featured-background img {
    width: 180%;
    margin-left: -45%;
}
#featured-post {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
#featured-post p {
    font-size: 1.3em;
    margin: 0 3%;
    line-height: 1.2em;
}

.more-btn {
    cursor: pointer;
    text-align: center;
    border-width: 1px;
    font-size: 1em;
    padding: 3% 6%;
    border-style: solid;
    font-family: helvetica;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.more-btn.green-btn {
    background-color: #02bde5;
    color: white;
    border-color: white;
}
.more-btn.orange-btn {
    background-color: #F0563D;
    color: white;
    border-color: white;
}
.more-btn.white-btn {
    background-color: white;
    color: #02bde5;
    border-color: #02bde5;
    font-weight: 100;
}
.feature-btn {
    margin: 8% auto;
    text-transform: uppercase;
}
.list-btn {
    margin: 8% auto;
}

#copybox {
    color: white;
    background-color: #2e313d;
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
}
#copyline {
    margin-bottom: 20px;
    line-height: 1.5em;
}
#footer-social li {
    display: inline-block;
    background-color: #F0563D;
    border-radius: 100%;
    padding: 10px 12px;
    border: 1px solid white;
}
#footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

#content {
    margin-bottom: 10px;
}
.form-table th {
    text-align: left;
    font-weight: 600;
}
.form-table input[type="text"] {
    padding: 5% 10%;
    font-size: 1.2em;
    margin: 2% 0;
}
.form-table textarea {
    font-size: 1.2em;
    width: 93%;
    padding: 5%;
}
.horizontal-gray {
    width: 85%;
    height: 2px;
    margin: 0 auto 10px;
    background-color: #CCC;
}

.section-header {
    background-color: #02bde5;
    padding: 12px 50px;
    color: white;
    font-size: 2em;
    display: inline-block;      
} 
.page-header h1 {
    background-color: #02bde5;
    padding: 12px 50px;
    color: white;
    font-size: 1.7em;
    display: inline-block;      
} 

@media screen and (min-width: 801px) {
    #header-container {
        overflow: hidden;
        box-shadow: 0 0px 5px #CCC;
    }
    #full-header {
        border-top: 5px solid #02bde5;
        position: relative;
        z-index: 0;
    }
    #desktop-logo {
        height: 63px;
        width: 450px;
        float: left;
    }
    #desktop-logo img {
        width: 100%;
    }
    #full-menu {
        float: right;
        position: relative;
        z-index: 2;
    }
    #full-menu a {
        float: left;
        text-decoration: none;
        color: #02bde5;
        text-transform: uppercase;
        font-weight: 100;
    }
    #full-menu a:hover {
        color: white;
        background-color: #02bde5;
    }
    #full-menu li {
        border-left: 1px solid #E9E9E9;
        padding: 23.5px;
    }

    #featured-tag {
        background-color: #02bde5;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.3% 3%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    #featured-post, #featured-background {
        height: 400px;
    }
    #featured-background img {
        position: relative;
        top: -40%;
    }
    #featured-post h2 {
        font-size: 2.2em;
        margin: 7% 0 2%;
    }
    #featured-post p {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    #featured {
        margin-bottom: 50px;
    }
    .feature-btn {
        margin: 3% auto;
    }
    .more-btn {
        padding: 1.5% 4% 1.4%;
    }

    #blog-roll {
        width: 60%;
        margin: 0 auto 20px;
    }
    #blog-roll .section-header {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    #blog-roll article {
        margin-bottom: 20px;
        background-color: #f2f2f2;
    }
    #blog-roll .cover-img {
        position: relative;
        width: 40%;
        float: left;
    }
    #blog-roll .cover-img img {
        width: 100%;
    }
    #blog-roll .post-date {
        position: absolute;
        background-color: #02bde5;
        color: white;
        top: 15px;
        padding: 7px 15px;
        font-size: 0.8em;
    }
    #blog-roll .post-content {
        background-color: #F2F2F2;
        padding: 15px;
        width: 60%;
        float: left;
    }
    #blog-roll h3 {
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    #blog-roll p {
        line-height: 1.4em;
    }
    #blog-roll button {
        border: none;
        color: white;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        overflow: hidden;
        padding: 0;
    }
    #blog-roll .btn-txt,
    #blog-roll .arrow {
        padding: 7.5px 0;
        float: left;
        text-align: center;
        font-size: 1.4em;
    }
    #blog-roll .btn-txt {
        background-color: #02bde5;
        width: 90%;
    }
    #blog-roll .arrow {
        width: 10%;
        background-color: #0099B9;
    }

    #footer-nav {
        background-color: #02bde5;
        overflow: hidden;
    }
    #footer-nav ul {
        text-align: center;
    }
    #footer-nav a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 10px 0;
    }
    #footer-nav li {
        padding: 0 15px;
        border-right: thin solid white;
    }
    #footer-nav a:last-child li {
        border-right: none;
    }

    /* PROFILE PAGE */
    .page-header {
        margin-bottom: 20px;
    }

    .profile-top {
        width: 30%;
        float: left;
        margin-right: 0.5%;
    }
    .profile-pic {
        margin-bottom: 15px;
    }
    .profile-pic img {
        width: 100%;
    }
    .networking-links {

    }
    .networking-links a {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .networking-links a:hover {
        color: white;
    }
    .networking-links li {
        background-color: #F2F2F2;
        border-bottom: 1px solid white;
        padding: 13px 0;     
    }
    .networking-links li:hover {
        background-color: #02bde5;
        border-bottom: 1px solid white;
        padding: 13px 0;     
    }
    .networking-links .list-space {
        margin: 0 20px;
    }
    .profile-description {
        width: 69%;
        float: left;
        background-color: #F2F2F2;
        padding: 20px;
        margin-left: 0.5%;
    }
    .profile-description p {
        margin-bottom: 20px;
        line-height: 1.4em;
    }
    .profile-description p:last-child {
        margin-bottom: 0;
    }

    #content-wrapper {
        margin: 20px;
    }
    .profile-top {
        overflow: hidden;
        margin-bottom: 15px;
    }

    /* BLOG ROLL */
    .post-list {
        width: 60%;
    }
    .post-list article {
        margin-bottom: 20px;
        background-color: #f2f2f2;
    }
    .post-list .cover-img {
        position: relative;
        width: 40%;
        float: left;
    }
    .post-list .cover-img img {
        width: 100%;
    }
    .post-list .post-date {
        position: absolute;
        background-color: #02bde5;
        color: white;
        top: 15px;
        padding: 7px 15px;
        font-size: 0.8em;
    }
    .post-list .post-content {
        background-color: #F2F2F2;
        padding: 15px;
        width: 60%;
        float: left;
    }
    .post-list h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    .post-list p {
        line-height: 1.4em;
    }
    .post-list button,
    .pagination button  {
        border: none;
        color: white;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        overflow: hidden;
        padding: 0;
    }
    .post-list .btn-txt,
    .post-list .arrow {
        padding: 7.5px 0;
        float: left;
        text-align: center;
        font-size: 1.4em;
    }
    .post-list .btn-txt {
        background-color: #02bde5;
        width: 90%;
    }
    .post-list .arrow {
        width: 10%;
        background-color: #0099B9;
    }
    .pagination {
        overflow: hidden;
        margin: 0 auto;
    }
    .pagination button {
        width: auto;
        font-size: 1em;
        padding: 7.5px 15px;
        background-color: #F0563D;
    }
    .pagination .prev-page {
        float: left;
    }
    .pagination .next-page {
        float: right;
    }


}