@media screen and (max-width: 480px){
    #top-logo {
        overflow: hidden;
        background-color: #2ec3ac;
        position: fixed;
        top: 0;
        z-index: 20;
    }
    #top-logo img {
        width: 100%;
    }
    #top-logo-horizontal {
        z-index: 100;
        position: relative;
        background-color: #2ec3ac;
        overflow: hidden;
    }
    #top-logo #logo-container {
        position: relative;
        width: 82.5%;
        padding: 3% 0 2.5%;
        float: left;
        background-color: white;
        z-index: 10;
    }
    #top-logo #menu-btn {
        position: relative;
        width: 17.5%;
        font-size: 2em;
        float: left;
        text-align: left;
        padding: 3% 2.5% 0% 20px;
        color: #FFF;
        cursor: pointer;
        z-index: 10;
        background-color: #2ec3ac;
    }
    #menu-btn i {
        vertical-align: middle;
    }
    #mobile-menu li {
        font-size: 1.3em;
        padding: 15px 20px;
        border-bottom: 1px solid #DDD;
    }
    #mobile-menu {
        float: left;
        position: relative;
        background-color: white;
        width: 100%;
        margin-top: -100%;
    }
    header {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    #content {
        margin-top: 18%;
    }

    #featured-tag {
        background-color: #2ec3ac;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2% 3%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    #featured-post, #featured-background {
        height: 340px;
    }
    #featured-post h2 {
        font-size: 1.8em;
        margin: 13% 0 7%;
        text-transform: uppercase;
    }
    #featured-post p {
        font-size: 1.3em;
    }
}