@media screen and (max-width: 480px){
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    #top-logo {
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 20;
    }
    #top-logo img {
        width: 100%;
    }
    #top-logo-horizontal {
        z-index: 100;
        position: relative;
        overflow: hidden;
    }
    #top-logo #logo-container {
        position: relative;
        width: 82.5%;
        padding: 3% 0 2%;
        float: left;
        background-color: white;
        z-index: 10;
    }
    #top-logo #menu-btn {
        position: relative;
        width: 17.5%;
        font-size: 2em;
        float: left;
        text-align: left;
        color: #FFF;
        cursor: pointer;
        z-index: 10;
    }
    #menu-btn i {
        vertical-align: middle;
    }
    #mobile-menu li {
        font-size: 1.3em;
        padding: 15px 20px;
        border-bottom: 1px solid #DDD;
    }
    #mobile-menu {
        float: left;
        position: relative;
        background-color: white;
        width: 100%;
        margin-top: -100%;
    }
    header {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    #content {
        margin-top: 18%;
    }

    #featured-tag {
        background-color: #02bde5;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2% 3%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    #featured-post, #featured-background {
        height: 340px;
    }
    #featured-post h2 {
        font-size: 1.8em;
        margin: 13% 0 7%;
        text-transform: uppercase;
    }
    #featured-post p {
        font-size: 1.3em;
    }

    #blog-roll {
        margin-top: 20px;
        background-color: #02bde5;
        width: 100%;
    }
    #blog-roll h2 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
        font-size: 2em;
        margin-bottom: 20px;
    }
    #blog-roll h3 {
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        padding: 5%;
    }
    #blog-roll img {
        width: 100%;
    }
    #blog-roll article {
        width: 90%;
        border: 5px solid black;
        margin: 20px auto;
        background-color: white;
        text-align: center;
        line-height: 1.5em;
    }
    #blog-roll p {
        width: 90%;
        margin: auto;
    }
    #blog-roll .post-date {
        font-style: italic;
        margin-bottom: 10px;
    }
    
    /* BLOG DETAIL */
    #post-detail {
        margin-top: 90px;
    }
    #post-detail h2 {
        font-size: 2em;
        text-align: center;
        font-weight: 600;
        margin-bottom: 20px;
    }
    #post-detail .post-date {
        text-align: center;
        font-size: 0.85em;
        margin-bottom: 8px;
        font-style: oblique;
    }
    #post-detail .post-cover {
        margin: 0 auto 10px;
        width: 90%;
    }
    #post-detail .post-cover img {
        width: 100%;
    }
    #post-detail .post-body {
        width: 90%;
        margin: 0 auto 20px;
        line-height: 1.4em;
    }
    #post-detail .post-body p, ul, ol {
        margin-bottom: 15px;
    }
    #post-detail .post-body strong {
        font-weight: 600;
    }
    #post-detail .post-body em {
        font-style: oblique;
    }
    #post-detail .post-body ul {
        list-style-type: disc;
    }
    #post-detail .post-body ol {
        list-style-type: decimal;
    }
    #post-detail .post-body ul, ol {
        margin-left: 10%;
    }
    #post-detail .post-body li {
        list-style-position: outside;
        margin-bottom: 5px;
    }
    #post-detail .post-body pre {
        background-color: #fafafa;
        font-family: monospace;
        padding: 10px;
        overflow-x: scroll;
        margin: 1em 0px 1em;
        border-radius: 3px;
        border: 1px solid #DDD;
    }
    #post-detail .post-body blockquote {
        font-style: oblique;
        width: 80%;
        margin: 15px auto;
        color: #777;
    }
}