@media screen and (max-width: 480px){
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    #top-logo {
        overflow: hidden;
        background-color: #02bde5;
        position: fixed;
        top: 0;
        z-index: 20;
    }
    #top-logo img {
        width: 100%;
    }
    #top-logo-horizontal {
        z-index: 100;
        position: relative;
        background-color: #02bde5;
        overflow: hidden;
    }
    #top-logo #logo-container {
        position: relative;
        width: 82.5%;
        padding: 3% 0 2.5%;
        float: left;
        background-color: white;
        z-index: 10;
    }
    #top-logo #menu-btn {
        position: relative;
        width: 17.5%;
        font-size: 2em;
        float: left;
        text-align: left;
        padding: 3% 2.5% 0% 20px;
        color: #FFF;
        cursor: pointer;
        z-index: 10;
        background-color: #02bde5;
    }
    #menu-btn i {
        vertical-align: middle;
    }
    #mobile-menu li {
        font-size: 1.3em;
        padding: 15px 20px;
        border-bottom: 1px solid #DDD;
    }
    #mobile-menu {
        float: left;
        position: relative;
        background-color: white;
        width: 100%;
        margin-top: -100%;
    }
    header {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    #content {
        margin-top: 18%;
    }

    #featured-tag {
        background-color: #02bde5;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2% 3%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    #featured-post, #featured-background {
        height: 340px;
    }
    #featured-post h2 {
        font-size: 1.8em;
        margin: 13% 0 7%;
        text-transform: uppercase;
    }
    #featured-post p {
        font-size: 1.3em;
    }

    #blog-roll {
        margin-top: 20px;
        background-color: #02bde5;
        width: 100%;
    }
    #blog-roll h2 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
        font-size: 2em;
        margin-bottom: 20px;
    }
    #blog-roll h3 {
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        padding: 5%;
    }
    #blog-roll img {
        width: 100%;
    }
    #blog-roll article {
        width: 90%;
        border: 5px solid black;
        margin: 20px auto;
        background-color: white;
        text-align: center;
        line-height: 1.5em;
    }
    #blog-roll p {
        width: 90%;
        margin: auto;
    }
    #blog-roll .post-date {
        font-style: italic;
        margin-bottom: 10px;
    }
}