@media screen and (min-width: 481px) and (max-width: 800px) {

    .tablet-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    #top-logo {
        position: fixed;
        top: 0;
        z-index: 20;
    }
    #top-logo img {
        width: 100%;
    }
    #top-logo-horizontal {
        z-index: 100;
        position: relative;
        overflow: hidden;
    }
    #top-logo #logo-container {
        position: relative;
        width: 91.5%;
        padding: 0.2% 0;
        float: left;
        background-color: white;
        z-index: 10;
        text-align: center;
    }
    #top-logo #logo-container img {
        width: 60%;
    }
    #top-logo #menu-btn {
        position: relative;
        width: 8.5%;
        float: left;
        text-align: left;
        color: #FFF;
        cursor: pointer;
        z-index: 10;
    }
    #menu-btn i {
        vertical-align: middle;
    }
    #mobile-menu li {
        font-size: 1.3em;
        padding: 15px 20px;
        border-bottom: 1px solid #DDD;
    }
    #mobile-menu {
        float: left;
        position: relative;
        background-color: white;
        width: 30%;
        margin-top: -100%;
        top: 7px;
    }
    header {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    #content {
        margin-top: 9%;
    }

    #featured-tag {
        background-color: #02bde5;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.3% 3%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    #featured-post, #featured-background {
        height: 450px;
    }
    #featured-post h2 {
        font-size: 2.2em;
        margin: 8% 0 3%;
    }
    #featured-post p {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    .feature-btn {
        margin: 5% auto;
    }
    .more-btn {
        padding: 1.5% 4% 1.4%;
    }

    /* PROFILE PAGE */
    .page-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-pic {
        width: 46.5%;
        float: left;
        margin-right: 1%;
    }
    .profile-pic img {
        width: 100%;
    }
    .networking-links {
        width: 51.5%;
        float: left;
        margin-left: 1%;
    }
    .networking-links a {
        color: white;
        text-decoration: none;
    }
    .networking-links li {
        background-color: #02bde5;
        border-bottom: 1px solid white;
        padding: 13px 0;     
    }
    .networking-links .list-space {
        margin: 0 20px;
    }
    .profile-description {
        background-color: #F2F2F2;
        padding: 20px;
    }
    .profile-description p {
        margin-bottom: 20px;
        line-height: 1.4em;
    }
    .profile-description p:last-child {
        margin-bottom: 0;
    }

    #content-wrapper {
        margin: 20px;
    }
    .profile-top {
        overflow: hidden;
        margin-bottom: 15px;
    }
}