{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article id="post-detail">
    <h1>{{ post.title }}</h1>
    <p class="post-date">Posted on {{ post.published_date | date:"M j, Y"}} | Permalink: <a href="{% url 'post_detail_pk' post.pk %}"><i class="fa fa-link" aria-hidden="true"></i></a></p>
    {% if post.tags.all %}
    <div class="clearfix"></div>
    <section class="post-tags">
        <span class="tag-pointer">Tagged:</span> 
        <ul class="tag-list">
        {% for tag in post.tags.all %}
        <li><a href="{% url 'tagged_as' tag %}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
    <div class="horizontal-gray"></div>
    {% if post.cover_img and post.cover_img.url != "/imgs/post_covers/stock-cover.jpg" %}
    <div class="post-cover">
        <img src="{{ post.cover_img.url }}"/>
    </div>
    {% endif %}
    <div class="post-body">
    {{ post.body | safe}}
    </div>
</article>

{% endblock %}