{% extends "layout.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<section id="content-wrapper">
    <div class="page-header">
    <h1>About Me</h1>
    </div>
    <div class="profile-top">
        <div class="profile-pic">
            <img src="{{ profile.photo.url }}" />
        </div>
        <ul class="networking-links">
            <a href="https://www.github.com/{{ profile.github }}" class="profile-link">
                <li><i class="fa list-space fa-github" aria-hidden="true"></i> GitHub</li>
            </a>
            <a href="mailto:{{ profile.email }}" class="profile-link"><li><i class="fa list-space fa-envelope" aria-hidden="true"></i> Email</li></a>
            <a href="https://www.linkedin.com/in/{{ profile.linkedin }}" class="profile-link"><li><i class="fa list-space fa-linkedin" aria-hidden="true"></i> LinkedIn</li></a>
            <a href="https://www.twitter.com/{{ profile.twitter }}" class="profile-link"><li><i class="fa list-space fa-twitter" aria-hidden="true"></i>Twitter</li></a>
            <a href="https://www.instagram.com/{{ profile.instagram }}" class="profile-link"><li><i class="fa list-space fa-instagram" aria-hidden="true"></i> Instagram</li></a>
            <a href="{{ profile.resume }}" class="profile-link"><li><i class="fa list-space fa-file-text" aria-hidden="true"></i> Resume</li></a>
        </ul>
    </div>
    <section class="profile-description">
    {{ profile.description | safe }}
    </section>
    <div class="clearfix"></div>
    <section id="github-list">
        <h2>What I'm Working On</h2>
        <section id="github-content"></section>
    </section>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        function createArticle(info){
            console.log(info);
            var article = $("<article></article>"),
                div1 = $("<div></div>"),
                div2 = $("<div></div>"),
                pName = $("<p class='repo-name'></p>"),
                aName = $("<a href='"+ info.repo_url +"' target='_blank'></a>"),
                pDate = $("<p class='last-modified'></p>"),
                pDesc = $("<p class='repo-desc'></p>"),
                pLang = $("<p class='repo-language'></p>");

            aName.text(info.name);
            pName.append(aName);
            pDate.text(timeSince(info.updated_at));
            pDesc.text(info.description);
            if (info.language) {
                pLang.text('Language: ' + info.language);
            }
            div1.append(pName).append(pDate);
            div2.append(pDesc).append(pLang);
            article.append(div1).append(div2);
            return article;
        };
        function timeSince(dateString){
            var now = new Date(),
                then = new Date(dateString),
                tdiff = (now.getTime() - then.getTime()) / 1E3,
                minute = 60,
                hour = 3600,
                day = 86400,
                week = 604800,
                msg = 'Updated ';

                if (tdiff <= minute) {
                    msg += tdiff.toPrecision(2) + ' seconds ago';
                } else if (tdiff <= hour) {
                    msg += (tdiff / minute).toPrecision(2) + ' minutes ago';
                } else if (tdiff <= day) {
                    msg += (tdiff / hour).toPrecision(2) + ' hours ago';
                } else if (tdiff <= week) {
                    msg += (tdiff / day).toPrecision(2) + ' days ago';
                } else {
                    msg += (tdiff / week).toPrecision(2) + ' weeks ago';
                }
            return msg;
        };
        var githubSection = $("#github-content");
        function delayAppend(item, idx){
            var article = createArticle(item);
            githubSection.append(article);
            article.animate({
                opacity: 1
            }, 100 * idx);
        };
        $.get('{% url "get_github" %}', function(data){
            for (var i=0; i < data.length; i++) {
                delayAppend(data[i], i);
            }
        });
    });
</script>
{% endblock %}