[run]
source =
    rational_whimsy
    blog
    my_profile

omit = 
    */migrations/*
    */tests.py
    manage.py
    rational_whimsy/wsgi.py
    */apps.py
    ../bin
    ../lib
    */admin.py

[report]
show_missing = True
