@media screen and (max-width: 480px){
    #top-logo img {
        width: 100%;
        padding: 10px 0 5px;
    }

    #mobile-menu li {
        font-size: 1.3em;
        padding: 15px 20px;
        border-bottom: 1px solid #DDD;
    }
    #mobile-menu {
        border-top: 1px solid #23A38F;
    }
    header {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    #featured-post, #featured-background {
        height: 280px;
    }
    #featured-post h2 {
        font-size: 2em;
        margin: 10% 0 7%;
        text-transform: uppercase;
    }
    #featured-post p {
        font-size: 1.3em;
    }
}