{% extends "layout.html" %}

{% block title %}{{ project.title }}{% endblock %}
{% block head_libraries %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
{% endblock %}

{% block content %}
<article id="post-detail">
    <h1>{{ project.title }}</h1>
    <p class="post-date">Posted on {{ project.published_date | date:"M j, Y"}} | Permalink: <a href="{% url 'post_detail_pk' project.pk %}"><i class="fa fa-link" aria-hidden="true"></i></a></p>
    {% if project.tags.all %}
    <div class="clearfix"></div>
    <section class="post-tags">
        <span class="tag-pointer">Tagged:</span> 
        <ul class="tag-list">
        {% for tag in project.tags.all %}
        <li><a href="{% url 'projects_tagged_as' tag %}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
    <div class="horizontal-gray"></div>
    {% if project.cover_img and project.cover_img.url != "/imgs/post_covers/stock-cover.jpg" %}
    <div class="post-cover">
        <div id="figure_container"></div>
    </div>
    {% endif %}
    <div class="post-body">
    {{ project.body | safe}}
    </div>
</article>

{% endblock %}

{% block javascript %}

{% endblock %}